.field-wrapper {
  width: 100%;
  height: 75px;
  position: relative;
  margin-bottom: 1.5rem;
  .field {
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    input {
      width: 100%;
      border: 2px solid rgb(85, 84, 84);
      border-radius: 0.75rem;
      padding: 0.5rem 1rem;
      font-size: 0.85rem;
      &:focus {
        outline: none;
      }
    }
    .label {
      position: absolute;
      top: -30px;
      font-size: 14px;
    }
  }
  .field-error {
    input {
      border: 2px solid rgb(226, 82, 82);
    }
  }
  .errorMessage {
    color: rgb(226, 82, 82);
    font-size: 12px;
  }
}
