.languageSelector-hr {
  position: absolute;
  right: 0;
  margin-right: 30px;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}
.languageSelector-en {
  position: absolute;
  right: 0;
  margin-right: 100px;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}
